
@font-face {
  font-family: 'IRANSans';
  src: url('/assets/remote-assets/fonts/IRANSansWeb(FaNum)_UltraLight.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/assets/remote-assets/fonts/IRANSansWeb(FaNum)_Light.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/assets/remote-assets/fonts/IRANSansWeb(FaNum).ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'IRANSans';
  src: url('/assets/remote-assets/fonts/IRANSansWeb(FaNum)_Medium.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'IRANSans-bold';
  src: url('/assets/remote-assets/fonts/IRANSansWeb(FaNum)_Bold.ttf');
  font-weight: 900;
}
